* {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    background-color: antiquewhite;
    padding: 20px;
    margin-bottom: 0px;
}


.divNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-left: 50px;
}
.logo a{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 50px;
    color:#543310;
}
li{
    display: inline-block;
}


li a{
    color: #543310;
    padding-right: 30px;
    display: flex;
    font-size: 17px;
    font-weight: bold;
    transition: color 0.3s ease;   
}
li a:hover{
    color: #102C57;
}
.navBTN{
    background-color:antiquewhite;
    padding: 8px 30px;
    border: 2px solid #543310; 
    border-radius: 100px;
    margin-left: 455px;
    margin-right: 50px;
    transition: background-color 0.3s ease;
}

.navBTN:hover{
    background-color: #543310;
}

.navBTN a{
    color:  #543310;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.3s ease;
  
}
.navBTN:hover a{
    color: antiquewhite;
}


/* home */

.divHome{
    padding-top: -5px; /* Adjust padding to accommodate fixed navbar */
    margin-top: 0px; /* Example margin */
}
.divHome video {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;

}

.homeBTN a {
    position: absolute;
    top: 115%; /* Adjust top positioning */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure button is above video */
    background-color: transparent;
    padding: 10px 30px;
    color: antiquewhite;
    font-weight: bold;
    border: 2px solid antiquewhite;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
}


.homeBTN:hover a{
    background-color: antiquewhite;
    color: #543310;
}

#idAbout{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50% 
}

.divMsg{
    margin-top: 20%;
    font-size: xx-large;
}